<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/error-styles.css"> <!-- Link to the external CSS file -->
</head>
<body>
    <div>
        <h1>Error</h1>
        <p>Oops! Something went wrong. The page you are looking for cannot be found.</p>
        <button onclick="goToHome()">Home</button>

        <script>
            function goToHome() {
                window.location.href = '/'; // Redirect to the Home page
            }
        </script>
    </div>
</body>
</html>
