<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js Quiz App</title>
    <link rel="stylesheet" href="/home-styles.css">
</head>

<body>
    <header>
        <h1>Welcome to the Node.js Quiz App</h1>
        <p>Test your knowledge of Node.js concepts!</p>
    </header>
    <main>
        <section class="cta">
            <h2>Are you ready to start?</h2>
            <form action="/quiz/1" method="get">
                <button type="submit">Start Quiz</button>
            </form>
        </section>
    </main>
</body>

</html>
